/* main container */
#container {
    background-color: invisible;
    color: white;
    margin: 50px;
    height: 650px;
    padding: 30px;
    text-align: center;
}

/* timer */
#timer {
    color: white;
    text-align: center;
    margin: 50px;
    height: 100px;
    width: 440px;
}

/* slide show */
#slideShow {
    text-align: center;
    height: 400px;
    width: 440px;
    margin: 50px;
}

#slides {
    cursor: pointer;
}